body {
  position: relative;
}

/*Font size is 12 px for the text. */
p {
  font-size: 12px;
}
/* Font size is 1.4em for the main heading (h1). */
/* Color for h1 is dark olive green. */
h1 {
  color: darkolivegreen;
  font-size: 1.4em;
}
/* Font size is 120% of body size for section headings (h2). */
/* Color for h2 is dark blue. */
h2 {
  font-size: 120%;
  color: darkblue;
}

nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
body {
  margin-left: 250px;
  padding: 0px 10px;
}
/* Asides are on the right, using the float property. */
/* Put asides in a box, as following:
Borders have a width of 2 points.
Padding is 4 points.
The margin is 4%.
Use a border color of #F33. */
aside {
  float: right;
  padding: 4px;
  margin: 4%;
  border-style: solid;
  border-width: 2px;
  border-color: #f33;
}

/* Color for links is medium turquoise before visiting.
Color for visited links is light sky blue. */
a:link {
  color: mediumaquamarine;
}
a:visited {
  color: skyblue;
}

/* Tables use collapsed borders. */

table,
td,
th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
